# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and debug files
*.log

# Byte-compiled files
*.pyc

# OS-specific files
.DS_Store
Thumbs.db

exercises.json
